/*svg {
    width: 100% !important;
    height: 100% !important;
}*/

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
    height: 100%;
}

.wrapper {
    border: 1px solid tomato;
    width: 500px;
}

.wrapper *:not([data-base=true]) {
    opacity: 0;
    transition: opacity 50ms ease-in-out;
}